.register-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 75px);
    padding: 40px 16px;
    background-color: #ffffff; 
    box-sizing: border-box;
}

.register-container {
    background-color: #f4f4f4;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
}

.ta-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ta-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #b3a369;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container input[type="submit"]:hover {
    background-color: #a38e3b;
}

.register-container {
    background-color: #f4f4f4;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
}

.register-container h1 {
    color: #003057;
    margin-bottom: 20px;
    font-size: 28px;
}

.register-container p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.register-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    width: 100%;
    padding-right: 30px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #b3a369;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container input[type="submit"]:hover {
    background-color: #a38e3b;
}

.footer {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.footer a {
    color: #003057;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
