.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFB;
    padding-bottom: 50px;
    min-height: 100vh; 
}

/* Header that contains the step and home button */
.header {
    width: 100%;
    height: 50px;
    background: #003057;
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
/* Step text */
.title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding-right: 55%;
}
  
/* Main content that holds the filter and cards */
.main-content {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

/* Move filter dropdown to the left */
.filter-container {
    width: 200px;
    margin-right: 20px; /* Add space between filter and cards */
    background-color: #f1f1f1; /* Optional: Add background color to differentiate */
    padding: 10px;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    text-align: center;
    background-color: #FBFBFB !important;
    border: none !important;  /* Ensure no border around the card */
    box-shadow: none; 
    width: 100%; 
    max-width: 200px;
    padding-right: 0; /* Remove padding */
    margin: 0;
}

/* Adjust card container to take up remaining space, but constrain its max width */
.cards-container {
    flex-grow: 1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    grid-row-gap: 20px;
    justify-content: center;
    padding-left: 100px;
    padding-top: 40px !important;
    max-width: 1000px; /* Constrain the maximum width of the card container */
    border: none !important;
    background: transparent;
}


.card-image {
    width: 100%;
    height: 100%; /* Allocate full height to the image */
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; /* Ensure the background of the image container is transparent */
    border: none !important; /* Remove any borders */
    height: 260px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container while maintaining its aspect ratio */
    background: transparent; /* Make sure the image itself has no background color */
    border: none !important; /* Ensure no border around the image */
}

.card-title {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent; 
    margin-top: 10px;
    border: none; /* Ensure no border around the title */
}


/* Modal styles */
.image-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 200px;
  }
  
  .search button img {
    width: 24px; /* Adjust icon size as needed */
    height: 24px; /* Adjust icon size as needed */
  }

.modal-content {
    max-width: 40%;
    max-height: 90%;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: #bbbbbb;
}
