.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFB;
  padding-bottom: 50px;
  min-height: 100vh; 
}

/* Header that contains the step and home button */
.header {
  width: 100%;
  height: 50px;
  background: #003057;
  display: flex;
  align-items: center;
  justify-content: center; 
}

/* Step text */
.title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding-right: 55%;
}

/* Thank-A-Teacher title */
.main-title {
  color: #333333;
  font-size: 64px;
  font-family: Helvetica;
  font-weight: 400;
  margin: 30px 0; 
}

/* Used to design the selection boxes */
.form-control {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #333333;
}

/* wrapper for the selction boxes so that they resize with the screen */
.select-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

/* adds a down arrow to our personalized selection boxes */
.select-wrapper select {
  width: 100%;
  padding: 10px;
  appearance: none;
  background: url('Assets/arrow.png') no-repeat right center;
  background-size: 20px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #333333;
}

/* adds padding for the text box */
.textBox {
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
}

/* design for the next button */
.nextButton {
  width: 80px;
  height: 38px;
  border-radius: 9px;
  background: #003057;
  color: #FBFBFB;
  margin-top: 20px;
  margin-left: 317px;
}

.textPadding {
  margin-top: 20px;
}
